/* .vitepress/theme/custom.css */

/* Logo text VBot */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

/* ALL */
:root {
  --font-family: 'Quicksand', sans-serif;
}

body {
  font-family: var(--font-family);
}

/* Vbot tổng đài AI đa tính năng! */
@media (min-width: 960px) {
  .name, .text {
    font-family: 'Quicksand', sans-serif !important;
    /* line-height: 60px !important;
    font-size: 60px !important; */
    font-weight: 500 !important;
  }
}

/* Giải pháp tổng đài AI đa chức năng giúp doanh nghiệp chuyển đổi số một cách toàn diện. */
@media (min-width: 960px) {
  .tagline[data-v-c048e6d7] {
    font-family: 'Quicksand', sans-serif !important;
      line-height: 28px;
      font-size: 20px;
      font-weight: 500 !important;
  }
} */

.sidebar-link.active {
  color: #42b983 !important;
  font-weight: bold !important;
}

.VPNavBarTitle a {
    color: #19b24f !important;
  }

:root {
    --vp-c-brand-1: #19b24f;
  }

  :root {
    --vp-c-indigo-2: #1a9314;
 
    --vp-button-brand-bg: #19b24f;

    --vp-home-hero-image-background-image: linear-gradient(-45deg, #309c56 50%, #18bd52 50%);   /* phát sáng logo */
    
    }

    /* phát sáng logo */
    @media (min-width: 960px) {
      :root {
          --vp-home-hero-image-filter: blur(68px);
      }
  }
    
    /* Viền nút POST,GET */
    .api-container {
      display: flex;
      align-items: center;
      background: transparent;
      border: 0.5px solid #808080;
      border-radius: 6px;
      padding: 10px;
      font-family: monospace;
      color: #98989f;
    }
    
 /* background POST,GET */
    .api-method {
      background: #21a366;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      margin-right: 10px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }
    
  /* hiệu ứng click  POST,GET */
    .api-method:active {
      transform: scale(1.1);
    }
    
  /* Màu text hướng dẫn */
    .highlight-text {
      color: #22c55e; 
    }
    

    /* note Lưu ý */
    .note {
      border-left: 4px solid #2e92cc;
      padding-left: 10px;
      font-style: italic;
  }
  
  